@import url('https://fonts.googleapis.com/css?family=Roboto:400,500&display=swap');

body {
	/*background: #262626;*/
	color: #707070;
	font-family: monospace;
	margin: 0;
}

nav {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
	height: 50px;
	/*background: #005e83;*/
	font-size: 20px;
	padding-left: 10px;
	padding-right: 10px;
}

/*.main-nav-username {*/
/*    text-align: center;*/
/*}*/

/*.main-nav-screen-name {*/
/*    text-align: center;*/
/*}*/

/*.main-login {*/
/*    !*height: 35px;*!*/
/*    text-align: center;*/
/*}*/

button {
	cursor: pointer;
	font-family: monospace;
	font-size: 20px;
	color: #707070;
    /*border: none;*/
    /*text-align: center;*/
    /*border-radius: 8px;*/
    /*padding-right: 5px;*/
    /*padding-left: 5px;*/
    /*margin: 0;*/
}

main {
	display: flex;
	flex-direction: column;
	align-items: center;
	font-family: inherit;
}

.main-content {
	height: 100%;
}

div {
	display: flex;
	flex-direction: inherit;
}

.center-content {
	text-align: center;
}



