@import url('https://fonts.googleapis.com/css?family=Roboto:400,500&display=swap');

html, body {
	height: 95%;
}
body {
	display: flex;
	/*background: #262626;*/
	color: #707070;
	font-family: monospace;
	justify-content: center;
}

.hello-content {
	height: 100%;
	display: flex;
	flex-direction: column;
	font-family: inherit;
	text-align: center;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	-webkit-flex-align: center;
	-ms-flex-align: center;
	-webkit-align-items: center;
	align-items: center;
	justify-content: center
}

h1 {
	font-size: 32px;
}

div {
	display: flex;
	flex-direction: inherit;
}

.main-description {
	font-size: 18px;
}

.user-buttons {
	align-items: center;
}

button {
	cursor: pointer;
	font-family: monospace;
	font-size: 20px;
	font-weight: bold;
	color: #707070;
	background: white;
	border: 2px solid #707070;
}

.nice-button {
	border-radius: 8px;
	height: 52px;
	width: 238px;
	margin-top: 20px;
	margin-bottom: 20px;
	-webkit-transition-duration: 0.4s; /* Safari */
	transition-duration: 0.4s;
}
.nice-button:hover {
	background-color: #707070;
	color: white;
}

